body{
    padding: 0px;
    margin: 0px;
    background-color: #edb09c83;
}
dialog {
    border: 3px solid #754f43;
    background-color: #f9dfd6;
    padding: 5px 5px 10px 5px;
    border-radius: 15px;
}
.cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    gap: 10px;
    grid-auto-rows: auto;
    margin-top: 30px;
    padding: 10px;
}
input {
    background-color: #fbfbfbb7;
    border: 2px solid #754f43;
    border-radius: 7px;
}
.card {
    border: 3px solid #754f43;
    background-color: #f9dfd6;
    padding: 5px 5px 10px 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form {
    width: 160px;
}
.card p:first-child {
    font-size: 30px;
    font-weight: bold;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
    text-wrap: pretty;
    word-wrap: break-word;
}

.header {
    background-color: #ab7a69b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 3px solid #754f43;
}
button {
    border: 0px;
    margin: 5px;
    background-color: #533228;
    color: #e0c6bd;
    padding: 5px;
    border-radius: 7px;
}

